:root{
    --White: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}
#main{
    background-color: var(--lightGray);
    max-width: 81rem;
    display: block;
    position: relative;
    justify-content: center;
    margin: 0 50px 20px;
    outline: 5px solid white
    
}
img{
    max-width: 100%;
    height: auto;
}
#main #content{
    background-color:var(--White) 
}